<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suny.association.mapper.CheckbackResultMapper">
  <resultMap id="BaseResultMap" type="com.suny.association.pojo.po.CheckbackResult">
    <constructor>
      <idArg column="checkback_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="application_message_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="checkback_result" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="checkback_manager_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="checkback_reson" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    checkback_id, application_message_id, checkback_result, checkback_manager_id, checkback_reson
  </sql>
  <select id="selectByExample" parameterType="com.suny.association.pojo.po.CheckbackResultExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from checkback_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from checkback_result
    where checkback_id = #{checkbackId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from checkback_result
    where checkback_id = #{checkbackId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.suny.association.pojo.po.CheckbackResultExample">
    delete from checkback_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.suny.association.pojo.po.CheckbackResult">
    insert into checkback_result (checkback_id, application_message_id, 
      checkback_result, checkback_manager_id, checkback_reson
      )
    values (#{checkbackId,jdbcType=INTEGER}, #{applicationMessageId,jdbcType=INTEGER}, 
      #{checkbackResult,jdbcType=BIT}, #{checkbackManagerId,jdbcType=INTEGER}, #{checkbackReson,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.suny.association.pojo.po.CheckbackResult">
    insert into checkback_result
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="checkbackId != null">
        checkback_id,
      </if>
      <if test="applicationMessageId != null">
        application_message_id,
      </if>
      <if test="checkbackResult != null">
        checkback_result,
      </if>
      <if test="checkbackManagerId != null">
        checkback_manager_id,
      </if>
      <if test="checkbackReson != null">
        checkback_reson,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="checkbackId != null">
        #{checkbackId,jdbcType=INTEGER},
      </if>
      <if test="applicationMessageId != null">
        #{applicationMessageId,jdbcType=INTEGER},
      </if>
      <if test="checkbackResult != null">
        #{checkbackResult,jdbcType=BIT},
      </if>
      <if test="checkbackManagerId != null">
        #{checkbackManagerId,jdbcType=INTEGER},
      </if>
      <if test="checkbackReson != null">
        #{checkbackReson,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.suny.association.pojo.po.CheckbackResultExample" resultType="java.lang.Integer">
    select count(*) from checkback_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update checkback_result
    <set>
      <if test="record.checkbackId != null">
        checkback_id = #{record.checkbackId,jdbcType=INTEGER},
      </if>
      <if test="record.applicationMessageId != null">
        application_message_id = #{record.applicationMessageId,jdbcType=INTEGER},
      </if>
      <if test="record.checkbackResult != null">
        checkback_result = #{record.checkbackResult,jdbcType=BIT},
      </if>
      <if test="record.checkbackManagerId != null">
        checkback_manager_id = #{record.checkbackManagerId,jdbcType=INTEGER},
      </if>
      <if test="record.checkbackReson != null">
        checkback_reson = #{record.checkbackReson,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update checkback_result
    set checkback_id = #{record.checkbackId,jdbcType=INTEGER},
      application_message_id = #{record.applicationMessageId,jdbcType=INTEGER},
      checkback_result = #{record.checkbackResult,jdbcType=BIT},
      checkback_manager_id = #{record.checkbackManagerId,jdbcType=INTEGER},
      checkback_reson = #{record.checkbackReson,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.suny.association.pojo.po.CheckbackResult">
    update checkback_result
    <set>
      <if test="applicationMessageId != null">
        application_message_id = #{applicationMessageId,jdbcType=INTEGER},
      </if>
      <if test="checkbackResult != null">
        checkback_result = #{checkbackResult,jdbcType=BIT},
      </if>
      <if test="checkbackManagerId != null">
        checkback_manager_id = #{checkbackManagerId,jdbcType=INTEGER},
      </if>
      <if test="checkbackReson != null">
        checkback_reson = #{checkbackReson,jdbcType=VARCHAR},
      </if>
    </set>
    where checkback_id = #{checkbackId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suny.association.pojo.po.CheckbackResult">
    update checkback_result
    set application_message_id = #{applicationMessageId,jdbcType=INTEGER},
      checkback_result = #{checkbackResult,jdbcType=BIT},
      checkback_manager_id = #{checkbackManagerId,jdbcType=INTEGER},
      checkback_reson = #{checkbackReson,jdbcType=VARCHAR}
    where checkback_id = #{checkbackId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.suny.association.pojo.po.CheckbackResult">
    <constructor>
      <idArg column="checkback_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="application_message_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="checkback_result" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="checkback_manager_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="checkback_reson" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    checkback_id, application_message_id, checkback_result, checkback_manager_id, checkback_reson
  </sql>
  <select id="selectByExample" parameterType="com.suny.association.pojo.po.CheckbackResultExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from checkback_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from checkback_result
    where checkback_id = #{checkbackId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from checkback_result
    where checkback_id = #{checkbackId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.suny.association.pojo.po.CheckbackResultExample">
    delete from checkback_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.suny.association.pojo.po.CheckbackResult">
    insert into checkback_result (checkback_id, application_message_id, 
      checkback_result, checkback_manager_id, checkback_reson
      )
    values (#{checkbackId,jdbcType=INTEGER}, #{applicationMessageId,jdbcType=INTEGER}, 
      #{checkbackResult,jdbcType=BIT}, #{checkbackManagerId,jdbcType=INTEGER}, #{checkbackReson,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.suny.association.pojo.po.CheckbackResult">
    insert into checkback_result
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="checkbackId != null">
        checkback_id,
      </if>
      <if test="applicationMessageId != null">
        application_message_id,
      </if>
      <if test="checkbackResult != null">
        checkback_result,
      </if>
      <if test="checkbackManagerId != null">
        checkback_manager_id,
      </if>
      <if test="checkbackReson != null">
        checkback_reson,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="checkbackId != null">
        #{checkbackId,jdbcType=INTEGER},
      </if>
      <if test="applicationMessageId != null">
        #{applicationMessageId,jdbcType=INTEGER},
      </if>
      <if test="checkbackResult != null">
        #{checkbackResult,jdbcType=BIT},
      </if>
      <if test="checkbackManagerId != null">
        #{checkbackManagerId,jdbcType=INTEGER},
      </if>
      <if test="checkbackReson != null">
        #{checkbackReson,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.suny.association.pojo.po.CheckbackResultExample" resultType="java.lang.Integer">
    select count(*) from checkback_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update checkback_result
    <set>
      <if test="record.checkbackId != null">
        checkback_id = #{record.checkbackId,jdbcType=INTEGER},
      </if>
      <if test="record.applicationMessageId != null">
        application_message_id = #{record.applicationMessageId,jdbcType=INTEGER},
      </if>
      <if test="record.checkbackResult != null">
        checkback_result = #{record.checkbackResult,jdbcType=BIT},
      </if>
      <if test="record.checkbackManagerId != null">
        checkback_manager_id = #{record.checkbackManagerId,jdbcType=INTEGER},
      </if>
      <if test="record.checkbackReson != null">
        checkback_reson = #{record.checkbackReson,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update checkback_result
    set checkback_id = #{record.checkbackId,jdbcType=INTEGER},
      application_message_id = #{record.applicationMessageId,jdbcType=INTEGER},
      checkback_result = #{record.checkbackResult,jdbcType=BIT},
      checkback_manager_id = #{record.checkbackManagerId,jdbcType=INTEGER},
      checkback_reson = #{record.checkbackReson,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.suny.association.pojo.po.CheckbackResult">
    update checkback_result
    <set>
      <if test="applicationMessageId != null">
        application_message_id = #{applicationMessageId,jdbcType=INTEGER},
      </if>
      <if test="checkbackResult != null">
        checkback_result = #{checkbackResult,jdbcType=BIT},
      </if>
      <if test="checkbackManagerId != null">
        checkback_manager_id = #{checkbackManagerId,jdbcType=INTEGER},
      </if>
      <if test="checkbackReson != null">
        checkback_reson = #{checkbackReson,jdbcType=VARCHAR},
      </if>
    </set>
    where checkback_id = #{checkbackId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suny.association.pojo.po.CheckbackResult">
    update checkback_result
    set application_message_id = #{applicationMessageId,jdbcType=INTEGER},
      checkback_result = #{checkbackResult,jdbcType=BIT},
      checkback_manager_id = #{checkbackManagerId,jdbcType=INTEGER},
      checkback_reson = #{checkbackReson,jdbcType=VARCHAR}
    where checkback_id = #{checkbackId,jdbcType=INTEGER}
  </update>
</mapper>