<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suny.association.mapper.LoginHistoryMapper" >
  <!--<resultMap id="BaseResultMap" type="com.suny.association.pojo.po.LoginHistory" >
    <constructor >
      <idArg column="login_history_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="history_account_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="last_login_ip" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="last-login_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="login_browser" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="login_os_version" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="login_user_agent" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>-->

</mapper>