<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suny.association.mapper.OperationMapper" >
  <!--<resultMap id="BaseResultMap" type="com.suny.association.pojo.po.Operation" >
    <constructor >
      <idArg column="operation_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="operation_message" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="operation_brower" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="operation_os_version" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="operation_user_agent" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="operation_request_url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="operation_account_id" jdbcType="BIGINT" javaType="java.lang.Long" />
    </constructor>
  </resultMap>-->

</mapper>