<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suny.association.mapper.AccessPermissionMapper">
    <resultMap id="BaseResultMap" type="com.suny.association.pojo.po.AccessPermission">
        <result column="access_url" property="accessUrl"/>
        <result column="access_permission" property="accessPermission"/>
    </resultMap>
    <select id="queryAll" resultMap="BaseResultMap">
        SELECT
            ap.access_url,
            ap.access_permission
        FROM access_url_permission AS ap
    </select>

    <select id="queryByName" parameterType="String" resultMap="BaseResultMap">
        SELECT
            ap.access_url,
            ap.access_permission
        FROM access_url_permission AS ap
        WHERE ap.access_url = #{uri}
    </select>
</mapper>