<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suny.association.mapper.AccountMapper">
    <resultMap id="BaseResultMap" type="com.suny.association.pojo.po.Account" >
        <id     property="accountId" column="account_id"/>
        <result property="accountName" column="account_name"/>
        <result property="accountPassword" column="account_password"/>
        <result property="accountPhone" column=" account_phone"/>
        <result property="accountEmail" column="account_email"/>
        <result property="accountStatus" column="account_status"/>
        <result property="accountRoleId" column="account_role_id"/>
        <result property="accountMemberId" column="account_member_id"/>
    </resultMap>

    <select id="selectByMemberId" parameterType="int" resultMap="BaseResultMap">
        SELECT
            account_id,
            account_name,
            account_password,
            account_phone,
            account_email,
            account_status,
            account_role_id,
            account_member_id
        FROM account
        WHERE account_member_id = #{accountMemberId}
    </select>
    <select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT *
        FROM account
        WHERE account_name = #{username}
    </select>
    <insert id="create" parameterType="com.suny.association.pojo.po.Account">
        INSERT INTO account (
            account_id, account_name,
            account_password, account_phone,
            account_email, account_status,
            account_role_id, account_member_id)
        VALUES (
            #{accountId,jdbcType=BIGINT}, #{accountName,jdbcType=VARCHAR},
            #{accountPassword,jdbcType=VARCHAR}, #{accountPhone,jdbcType=INTEGER},
            #{accountEmail,jdbcType=VARCHAR}, #{accountStatus,jdbcType=BIT},
            #{accountRoleId,jdbcType=INTEGER}, #{accountMemberId,jdbcType=INTEGER}
        )
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM account
        WHERE account_id = #{accountId,jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.suny.association.pojo.po.Account">
        UPDATE account
        SET
            account_name      = #{accountName,jdbcType=VARCHAR},
            account_password  = #{accountPassword,jdbcType=VARCHAR},
            account_phone     = #{accountPhone,jdbcType=INTEGER},
            account_email     = #{accountEmail,jdbcType=VARCHAR},
            account_status    = #{accountStatus,jdbcType=BIT},
            account_role_id   = #{accountRoleId,jdbcType=INTEGER},
            account_member_id = #{accountMemberId,jdbcType=INTEGER}
        WHERE account_id = #{accountId,jdbcType=BIGINT}
    </update>

    <select id="select" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
            account_id,
            account_name,
            account_password,
            account_phone,
            account_email,
            account_status,
            account_role_id,
            account_member_id
        FROM account
        WHERE account_id = #{accountId,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT *
        FROM account
    </select>
</mapper>






