<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suny.association.mapper.AccountMapper">
    <resultMap id="BaseResultMap" type="com.suny.association.pojo.po.Account">
        <id property="accountId" column="account_id"/>
        <result property="accountName" column="account_name"/>
        <result property="accountPassword" column="account_password"/>
        <result property="accountPhone" column="account_phone"/>
        <result property="accountEmail" column="account_email"/>
        <result property="accountStatus" column="account_status"/>
        <!--账号角色复杂类型关联-->
        <association property="accountRoles" column="account_role_id" select="getRoles"
                     javaType="com.suny.association.pojo.po.Roles"/>
        <!--复杂类型的集-->
        <association property="accountMember" column="account_member_id" javaType="com.suny.association.pojo.po.Member"
                     select="getMember">
            <id property="memberId" column="member_id"/>
            <result property="memberName" column="member_name"/>
            <result property="memberClassName" column="member_class_name"/>
            <result property="memberSex" column="member_sex"/>
            <result property="memberGradeNumber" column="member_grade_number"/>
            <result property="memberStatus" column="member_status"/>
            <!--部门复杂类型关联-->
            <association property="memberDepartment" column="member_department_id"
                         javaType="com.suny.association.pojo.po.Department"
                         select="getDepartment"/>
            <!--成员角色复杂类型关联-->
            <association property="memberRoles" column="member_role_id"
                         javaType="com.suny.association.pojo.po.MemberRoles"
                         select="getMemberRole"/>
            <!--//这里有问题-->
            <!--协会成员对应的管理员复杂类型集合-->
            <association property="memberManager" column="member_manager_id"
                         javaType="com.suny.association.pojo.po.Member"
                         select="getMemberManage"/>
        </association>
    </resultMap>

    <!--成员管理员-->
    <resultMap id="memberManagerResult" type="com.suny.association.pojo.po.Member">
        <id property="memberId" column="member_id"/>
        <result property="memberName" column="member_name"/>
        <result property="memberClassName" column="member_class_name"/>
        <result property="memberSex" column="member_sex"/>
        <result property="memberGradeNumber" column="member_grade_number"/>
        <result property="memberStatus" column="member_status"/>
        <!--部门复杂类型关联-->
        <association property="memberDepartment" column="member_department_id"
                     javaType="com.suny.association.pojo.po.Department"
                     select="getDepartment"/>
        <!--成员角色复杂类型关联-->
        <association property="memberRoles" column="member_role_id" javaType="com.suny.association.pojo.po.MemberRoles"
                     select="getMemberRole"/>

        <!--协会成员对应的管理员复杂类型集合-->
        <association property="memberManager" column="member_manager_id" javaType="com.suny.association.pojo.po.Member"
                     select="getMember"/>
    </resultMap>


    <!--查询账号角色表信息-->
    <select id="getRoles" parameterType="int" resultMap="accountRolesResult">
        SELECT
            r.role_id,
            r.role_name,
            r.role_create_time
        FROM roles AS r
        WHERE role_id = #{ roleId }
    </select>

    <!--查询成员-->
    <select id="getMember" parameterType="int" resultMap="memberManagerResult">
        SELECT *
        FROM member
        WHERE member_id = #{ accountMember }
    </select>

    <!--获得成员角色-->
    <select id="getMemberRole" parameterType="int" resultMap="memberRolesResult">
        SELECT
            m.member_role_id,
            m.member_role_name
        FROM member_roles AS m
        WHERE m.member_role_id = #{memberRoles.memberRoleId}
    </select>

    <!--查询部门-->
    <select id="getDepartment" parameterType="int" resultMap="memberDepartmentResult">
        SELECT
            d.department_id,
            d.department_name
        FROM department AS d
        WHERE d.department_id = #{memberDepartment.departmentId}
    </select>

    <!--查询管理员信息-->
    <select id="getMemberManage" resultMap="memberManagerResult">
        SELECT *
        FROM member AS m
        WHERE m.member_id = #{ memberManager }
    </select>

    <!--账号角色-->
    <resultMap id="accountRolesResult" type="com.suny.association.pojo.po.Roles">
        <id property="roleId" column="role_id"/>
        <result property="description" column="role_name"/>
        <result column="role_create_time" property="createTime"/>
    </resultMap>


    <!--成员角色-->
    <resultMap id="memberRolesResult" type="com.suny.association.pojo.po.MemberRoles">
        <id property="memberRoleId" column="member_role_id"/>
        <result property="memberRoleName" column="member_role_name"/>
    </resultMap>

    <!--部门-->
    <resultMap id="memberDepartmentResult" type="com.suny.association.pojo.po.Department">
        <id column="department_id" property="departmentId"/>
        <result column="department_name" property="departmentName"/>
    </resultMap>


    <!--=============================================================================================-->


    <insert id="insert" parameterType="com.suny.association.pojo.po.Account">
        INSERT INTO account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accountId != null">
                account_id ,
            </if>
            <if test="accountName != null">
                account_name ,
            </if>
            <if test="accountPassword != null">
                account_password ,
            </if>
            <if test="accountPhone != null">
                account_phone ,
            </if>
            <if test="accountEmail != null">
                account_email,
            </if>
            <if test="accountStatus != null">
                account_status,
            </if>
            <if test="accountMember != null">
                account_member_id,
            </if>
            <if test="accountRoles != null">
                account_role_id,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="accountId != null">
                #{accountId,jdbcType=BIGINT},
            </if>
            <if test="accountName != null">
                #{accountName,jdbcType=VARCHAR},
            </if>
            <if test="accountPassword != null">
                #{accountPassword,jdbcType=VARCHAR},
            </if>
            <if test="accountPhone != null">
                #{accountPhone,jdbcType=BIGINT},
            </if>
            <if test="accountEmail != null">
                #{accountEmail,jdbcType=VARCHAR},
            </if>
            <if test="accountStatus != null">
                #{accountStatus,jdbcType=BOOLEAN},
            </if>
            <if test="accountMember != null">
                #{accountMember.memberId,jdbcType=BIGINT},
            </if>
            <if test="accountRoles != null">
                #{accountRoles.roleId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.suny.association.pojo.po.Account">
        UPDATE account as a
        <trim prefix="set" suffixOverrides=",">
            <if test="accountName != null">
                account_name =#{accountName,jdbcType=VARCHAR},
            </if>
            <if test="accountPassword != null">
                account_password =#{accountPassword,jdbcType=VARCHAR},
            </if>
            <if test="accountPhone != null">
                account_phone =#{accountPhone,jdbcType=BIGINT},
            </if>
            <if test="accountEmail != null">
                account_email =#{accountEmail,jdbcType=VARCHAR},
            </if>
            <if test="accountStatus != null">
                account_status =#{accountStatus,jdbcType=BOOLEAN},
            </if>
            <if test="accountMember != null">
                account_member_id =#{accountMember.memberId,jdbcType=BIGINT},
            </if>
            <if test="accountRoles != null">
                account_role_id =#{accountRoles.roleId,jdbcType=INTEGER},
            </if>
        </trim>
        WHERE
        a.account_id = #{accountId,jdbcType=BIGINT}
    </update>

    <select id="queryByMemberId" parameterType="int" resultMap="BaseResultMap">
        SELECT
            a.account_id,
            a.account_name,
            a.account_password,
            a.account_phone,
            a.account_email,
            a.account_status,
            a.account_role_id,
            a.account_member_id
        FROM account AS a
        WHERE a.account_member_id = #{memberId}
    </select>

    <select id="queryQuoteByAccountId" parameterType="Long" resultMap="BaseResultMap">
        SELECT
            a.account_id,
            a.account_member_id
        FROM account AS a
        WHERE a.account_id = #{accountId,jdbcType=BIGINT}
    </select>

    <select id="queryQuoteByMemberId" parameterType="Long" resultMap="BaseResultMap">
        SELECT
            a.account_id,
            a.account_member_id
        FROM account AS a
        WHERE a.account_member_id = #{memberId}
    </select>


    <select id="queryByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
            a.account_id,
            a.account_name,
            a.account_password,
            a.account_phone,
            a.account_email,
            a.account_status,
            a.account_role_id,
            a.account_member_id
        FROM account AS a
        WHERE a.account_name = #{accountName}
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM account AS a
        WHERE a.account_id = #{accountId,jdbcType=BIGINT}
    </delete>


    <delete id="deleteByLongId" parameterType="java.lang.Long">
        DELETE FROM account AS a
        WHERE a.account_id = #{accountId,jdbcType=BIGINT}
    </delete>

    <select id="queryById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
            a.account_id,
            a.account_name,
            a.account_password,
            a.account_phone,
            a.account_email,
            a.account_status,
            a.account_role_id,
            a.account_member_id
        FROM account AS a
        WHERE a.account_id = #{accountId,jdbcType=BIGINT}
    </select>

    <select id="queryByLongId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
            a.account_id,
            a.account_name
        FROM account AS a
        WHERE a.account_id = #{accountId,jdbcType=BIGINT}
    </select>

    <select id="queryByPhone" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
            a.account_id,
            a.account_phone
        FROM account AS a
        WHERE a.account_phone = #{phoneNumber}
    </select>

    <select id="queryByMail" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
            a.account_id,
            a.account_email
        FROM account AS a
        WHERE a.account_email = #{email}
    </select>


    <select id="queryAll" resultMap="BaseResultMap">
        SELECT
            a.account_id,
            a.account_name,
            a.account_password,
            a.account_email,
            a.account_phone,
            a.account_role_id,
            a.account_status,
            a.account_member_id
        FROM
            account AS a
    </select>
    <select id="list" parameterType="hashmap" resultMap="BaseResultMap">
        SELECT
        a.account_id,
        a.account_name,
        a.account_password,
        a.account_email,
        a.account_phone,
        a.account_role_id,
        a.account_status,
        a.account_member_id
        FROM
        account AS a
        <where>
            1=1
            <if test="status != null">
                and account_status =#{status}
            </if>
        </where>
        LIMIT #{offset},#{limit}
    </select>

    <select id="queryCount" resultType="int">
        SELECT count(*)
        FROM account;
    </select>

</mapper>






