<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suny.association.mapper.CallbackResultMapper">
    <resultMap id="BaseResultMap" type="com.suny.association.pojo.po.CallbackResult">
        <id property="callbackId" column="callback_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="callbackResult" column="callback_result" javaType="java.lang.Boolean" jdbcType="BOOLEAN"/>
        <result property="callbackReason" column="callback_reason" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="callbackTime" column="callback_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <!--     有问题的地方     查询审批的管理员-->
        <association property="callbackManagerId" column="callback_manager_id"
                     javaType="com.suny.association.pojo.po.Member"
                     select="getMemberManage"/>
        <association property="applicationMessageId" column="application_message_id"
                     javaType="com.suny.association.pojo.po.ApplicationMessage"
                     select="queryApplication"/>
    </resultMap>

    <!--审批的管理员-->
    <resultMap id="memberManagerResult" type="com.suny.association.pojo.po.Member">
        <id property="memberId" column="member_id"/>
        <result property="memberName" column="member_name"/>
        <result property="memberClassName" column="member_class_name"/>
        <result property="memberSex" column="member_sex"/>
        <result property="memberGradeNumber" column="member_grade_number"/>
        <result property="memberStatus" column="member_status"/>
        <!--部门复杂类型关联-->
        <association property="memberDepartment" column="member_department_id"
                     javaType="com.suny.association.pojo.po.Department"
                     select="getDepartment"/>
        <!--成员角色复杂类型关联-->
        <association property="memberRoles" column="member_role_id" javaType="com.suny.association.pojo.po.MemberRoles"
                     select="getMemberRole"/>
        <!--&lt;!&ndash;协会成员对应的管理员复杂类型集合&ndash;&gt;-->
        <association property="memberManager" column="member_manager_id" javaType="com.suny.association.pojo.po.Member"
                     select="getMemberManage"/>
    </resultMap>

    <!--查询管理员信息-->
    <select id="getMemberManage" resultMap="memberManagerResult">
        SELECT
            m.member_id,
            m.member_name,
            m.member_grade_number,
            m.member_manager_id,
            m.member_department_id,
            m.member_status,
            m.member_role_id
        FROM member AS m
        WHERE m.member_id = #{ callbackManagerId.memberId }
    </select>

    <!--成员角色-->
    <resultMap id="memberRolesResult" type="com.suny.association.pojo.po.MemberRoles">
        <id property="memberRoleId" column="member_role_id"/>
        <result property="memberRoleName" column="member_role_name"/>
    </resultMap>

    <!--部门-->
    <resultMap id="memberDepartmentResult" type="com.suny.association.pojo.po.Department">
        <id column="department_id" property="departmentId"/>
        <result column="department_name" property="departmentName"/>
    </resultMap>


    <!--查询部门-->
    <select id="getDepartment" parameterType="int" resultMap="memberDepartmentResult">
        SELECT
            d.department_id,
            d.department_name
        FROM department AS d
        WHERE d.department_id = #{memberDepartment}
    </select>

    <!--获得成员角色-->
    <select id="getMemberRole" parameterType="int" resultMap="memberRolesResult">
        SELECT
            mr.member_role_id,
            mr.member_role_name
        FROM member_roles AS mr
        WHERE mr.member_role_id = #{memberRoles}
    </select>

    <!--查询对应的申请-->
    <resultMap id="queryApplicationMap" type="com.suny.association.pojo.po.ApplicationMessage">
        <id property="applicationId" column="application_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result property="applyForTime" column="apply_for_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <association property="punchRecordId" column="punch_record_id"
                     javaType="com.suny.association.pojo.po.PunchRecord"
                     select="queryRecord"/>
        <association property="changePunchType" column="change_punch_type"
                     javaType="com.suny.association.pojo.po.PunchType" select="queryPunchTypeInfo"/>
    </resultMap>

    <select id="queryApplication" parameterType="int" resultMap="queryApplicationMap">
        SELECT
        a.application_id,
        a.apply_for_time,
        a.change_punch_type,
        a.punch_record_id
        FROM application_message AS a
        WHERE a.application_id = #{applicationMessageId.applicationId,jdbcType=INTEGER}
    </select>

    <!--查询对应的考勤记录-->
    <select id="queryRecord" parameterType="int" resultMap="queryRecordMap">
        SELECT
        p.punch_record_id,
        p.punch_type_id,
        p.punch_member_id
        FROM punch_record AS p
        WHERE p.punch_record_id = #{punchRecordId}
    </select>
    <!--考勤记录结果集-->
    <resultMap id="queryRecordMap" type="com.suny.association.pojo.po.PunchRecord">
        <id property="punchRecordId" column="punch_record_id" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <association property="punchTypeId" column="punch_type_id" javaType="com.suny.association.pojo.po.PunchType"
                     select="queryPunchTypeInfo"/>
        <association property="punchMemberId" column="punch_member_id" javaType="com.suny.association.pojo.po.Member"
                     select="queryMember"/>
    </resultMap>
    <!--考勤类型结果集-->
    <resultMap id="punchTypeInfo" type="com.suny.association.pojo.po.PunchType">
        <id property="punchTypeId" column="punch_type_id"/>
        <result property="punchTypeName" column="punch_type_name"/>
    </resultMap>
    <!--查询考勤类型-->
    <select id="queryPunchTypeInfo" resultMap="punchTypeInfo" parameterType="int">
        SELECT
        type.punch_type_id,
        type.punch_type_name
        FROM punchtype AS type
        WHERE
        punch_type_id = #{ punchTypeId }
    </select>
    <!--考勤的成员数据集合-->
    <resultMap id="memberInfo" type="com.suny.association.pojo.po.Member">
        <id property="memberId" column="member_id"/>
        <result property="memberName" column="member_name"/>
        <result property="memberGradeNumber" column="member_grade_number"/>
        <association property="memberDepartment" column="member_department_id"
                     javaType="com.suny.association.pojo.po.Department" select="queryDepartment"/>
    </resultMap>
    <!--查询考勤成员数据-->
    <select id="queryMember" resultMap="memberInfo" parameterType="int">
        SELECT
        m.member_id,
        m.member_name,
        m.member_grade_number,
        m.member_department_id
        FROM member AS m
        WHERE
        m.member_id = #{ punchMemberId.memberId }
    </select>

    <resultMap id="departmentMap" type="com.suny.association.pojo.po.Department">
        <id column="department_id" property="departmentId"/>
        <result column="department_name" property="departmentName"/>
    </resultMap>

    <select id="queryDepartment" resultMap="departmentMap" parameterType="int">
        SELECT
        d.department_id,
        d.department_name
        FROM department AS d
        WHERE department_id = #{memberDepartment}
    </select>


    <select id="queryAll" resultMap="BaseResultMap">
        SELECT
            cr.callback_id,
            cr.application_message_id,
            cr.callback_result,
            cr.callback_manager_id,
            cr.callback_reason,
            cr.callback_time
        FROM callback_result AS cr;
    </select>

    <insert id="insert" parameterType="com.suny.association.pojo.po.CallbackResult" useGeneratedKeys="true"
            keyProperty="callbackId">
        INSERT INTO callback_result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test=" callbackId != null">
                callback_id ,
            </if>
            <if test="applicationMessageId.applicationId != null">
                application_message_id ,
            </if>
            <if test=" callbackResult != null">
                callback_result ,
            </if>
            <if test=" callbackManagerId.memberId != null">
                callback_manager_id ,
            </if>
            <if test=" callbackReason != null">
                callback_reason ,
            </if>
            <if test=" callbackTime != null">
                callback_time ,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test=" callbackId != null">
                #{callbackId,jdbcType=BIGINT},
            </if>
            <if test=" applicationMessageId.applicationId != null">
                #{applicationMessageId.applicationId,jdbcType=INTEGER},
            </if>
            <if test=" callbackResult != null">
                #{callbackResult,jdbcType=BOOLEAN},
            </if>
            <if test=" callbackManagerId.memberId != null">
                #{callbackManagerId.memberId,jdbcType=BIGINT},
            </if>
            <if test=" callbackReason != null">
                #{callbackReason,jdbcType=VARCHAR},
            </if>
            <if test=" callbackTime != null">
                #{callbackTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="queryById" parameterType="int" resultMap="BaseResultMap">
        SELECT cr.application_message_id
        FROM callback_result AS cr
        WHERE cr.application_message_id = #{applicationMessageId}
    </select>

    <select id="list" parameterType="hashmap" resultMap="BaseResultMap">
        SELECT
        cr.callback_id,
        cr.application_message_id,
        cr.callback_manager_id,
        cr.callback_result,
        cr.callback_reason,
        cr.callback_time
        FROM callback_result AS cr;
    </select>

    <select id="queryCount" resultType="int">
        SELECT COUNT(*)
        FROM callback_result;
    </select>

</mapper>