<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suny.association.mapper.DepartmentMapper">
    <resultMap id="BaseResultMap" type="com.suny.association.pojo.po.Department">
        <id column="department_id" property="departmentId"/>
        <result column="department_name" property="departmentName"/>
    </resultMap>

    <select id="queryAll" resultMap="BaseResultMap">
        SELECT
            department_id,
            department_name
        FROM department
    </select>

</mapper>