<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suny.association.mapper.MemberRolesMapper">
    <resultMap id="BaseResultMap" type="com.suny.association.pojo.po.MemberRoles">
        <id property="memberRoleId" column="member_role_id"/>
        <result property="memberRoleName" column="member_role_name"/>
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            member_role_id,
            member_role_name
        FROM
            member_roles
    </select>

</mapper>