<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suny.association.mapper.OperationMapper">
    <resultMap id="BaseResultMap" type="com.suny.association.pojo.po.Operation">
        <id property="operationId" column="operation_id" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result property="operationMessage" column="operation_message" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="operationBrower" column="operation_brower" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="operationOsVersion" column="operation_os_version" jdbcType="VARCHAR"
                javaType="java.lang.String"/>
        <result property="operationUserAgent" column="operation_user_agent" jdbcType="VARCHAR"
                javaType="java.lang.String"/>
        <result property="operationTime" column="operation_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result property="operationStatus" column="operation_status" jdbcType="BOOLEAN" javaType="java.lang.Boolean"/>
        <result property="operationRequestUrl" column="operation_request_url" jdbcType="VARCHAR"
                javaType="java.lang.String"/>
        <result property="operationIp" column="operation_ip" jdbcType="VARCHAR"
                javaType="java.lang.String"/>
        <result property="operationAddress" column="operation_address" jdbcType="VARCHAR"
                javaType="java.lang.String"/>
        <association property="operationAccountId" column="operation_account_id"
                     javaType="com.suny.association.pojo.po.Account" select="getAccount"/>
    </resultMap>

    <resultMap id="AccountInfo" type="com.suny.association.pojo.po.Account">
        <id property="accountId" column="account_id"></id>
        <result property="accountName" column="account_name"></result>
    </resultMap>

    <select id="getAccount" parameterType="int" resultMap="AccountInfo">
        SELECT
            account_id,
            account_name
        FROM account
        WHERE account_id = #{ operationAccountId }
    </select>


    <select id="list" parameterType="map" resultMap="BaseResultMap">
        SELECT
            o.operation_id,
            o.operation_message,
            o.operation_brower,
            o.operation_os_version,
            o.operation_user_agent,
            o.operation_request_url,
            o.operation_account_id,
            o.operation_time,
            o.operation_ip,
            o.operation_address,
            o.operation_status
        FROM operation AS o
        LIMIT
            #{offset},
            #{limit}
    </select>

    <select id="queryCount" resultType="int">
        SELECT count(*)
        FROM operation;
    </select>

</mapper>