<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suny.association.mapper.PermissionAllotMapper">
    <resultMap id="BaseResultMap" type="com.suny.association.pojo.po.PermissionAllot">
        <id property="id" column="id"/>
        <association property="roleId" column="role_id" javaType="com.suny.association.pojo.po.Roles"
                     select="selectRole"/>
        <collection property="permissionSet" column="permiss_id" ofType="com.suny.association.pojo.po.Permission"
                    select="selectPermission"/>
    </resultMap>

    <select id="selectRole" parameterType="int" resultMap="rolesMap">
        SELECT
            r.role_id,
            r.role_name,
            r.role_description,
        r.role_create_time
        FROM roles r
        WHERE r.role_id = #{roleId}
    </select>

    <resultMap id="rolesMap" type="com.suny.association.pojo.po.Roles">
        <id column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="role_description" property="description"/>
        <result column="role_create_time" property="createTime"/>
    </resultMap>

    <resultMap id="permissionMap" type="com.suny.association.pojo.po.Permission">
        <id property="permissionId" column="permission_id"/>
        <result property="permissionName" column="permission_name"/>
        <result property="description" column="permission_description"/>
        <result property="createTime" column="create_time"/>
        <result property="permissionStatus" column="permission_status"/>
    </resultMap>

    <select id="selectPermission" resultMap="permissionMap" parameterType="int">
        SELECT
        DISTINCT permission_name,
            p.permission_id,
            p.permission_name,
            p.permission_description,
            p.create_time,
            p.permission_status
        FROM permission p,
        permission_union_role pr,
        roles r
        WHERE p.permission_id = pr.permiss_id
        AND pr.role_id = #{roleId}
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        SELECT
        pr.permiss_id,
        pr.role_id
        FROM
        permission_union_role pr
    </select>
</mapper>