<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suny.association.mapper.PunchRecordMapper">
    <resultMap id="BaseResultMap" type="com.suny.association.pojo.po.PunchRecord">
        <id property="punchRecordId" column="punch_record_id" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result property="punchDatetime" column="punch_datetime" jdbcType="TIMESTAMP"
                javaType="java.time.LocalDateTime"/>
        <result property="punchTodayDate" column="punch_today_date" jdbcType="DATE" javaType="java.time.LocalDate"/>
        <result property="punchIsCome" column="punch_is_come" jdbcType="BOOLEAN" javaType="java.lang.Boolean"/>
        <association property="punchTypeId" column="punch_type_id" javaType="com.suny.association.pojo.po.PunchType"
                     select="queryPunchTypeInfo"/>
        <association property="punchMemberId" column="punch_member_id" javaType="com.suny.association.pojo.po.Member"
                     select="queryMember"/>
    </resultMap>

    <resultMap id="memberInfo" type="com.suny.association.pojo.po.Member">
        <id property="memberId" column="member_id"/>
        <result property="memberName" column="member_name"/>
        <result property="memberGradeNumber" column="member_grade_number"/>
        <association property="memberDepartment" column="member_department_id"
                     javaType="com.suny.association.pojo.po.Department"
                     select="getDepartment"/>
    </resultMap>
    <insert id="batchInsertsPunchRecord" parameterType="ArrayList" >
        INSERT INTO punch_record
        (punch_today_date,
        punch_is_come ,
        punch_type_id ,
        punch_member_id)
        VALUES
        <foreach collection="list" item="punchRecord" index="index" separator=",">
            ( #{punchRecord.punchTodayDate,jdbcType=DATE},
            #{punchRecord.punchIsCome,jdbcType=BOOLEAN},
            #{punchRecord.punchTypeId.punchTypeId,jdbcType=INTEGER},
            #{punchRecord.punchMemberId.memberId,jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <select id="queryMember" resultMap="memberInfo" parameterType="int">
        SELECT
            m.member_id,
            m.member_name,
            m.member_grade_number,
            m.member_manager_id,
            m.member_department_id
        FROM member AS m
        WHERE
            member_id = #{ punchMemberId }
    </select>

    <!--查询部门-->
    <select id="getDepartment" parameterType="int" resultMap="memberDepartmentResult">
        SELECT
            d.department_id,
            d.department_name
        FROM department AS d
        WHERE d.department_id = #{memberDepartment.departmentId}
    </select>
    <!--部门-->
    <resultMap id="memberDepartmentResult" type="com.suny.association.pojo.po.Department">
        <id column="department_id" property="departmentId"/>
        <result column="department_name" property="departmentName"/>
    </resultMap>

    <resultMap id="punchTypeInfo" type="com.suny.association.pojo.po.PunchType">
        <id property="punchTypeId" column="punch_type_id"/>
        <result property="punchTypeName" column="punch_type_name"/>
    </resultMap>

    <select id="queryPunchTypeInfo" resultMap="punchTypeInfo" parameterType="int">
        SELECT
            t.punch_type_id,
            t.punch_type_name
        FROM punchtype AS t
        WHERE
            t.punch_type_id = #{ punchTypeId }
    </select>


    <select id="list" parameterType="hashmap" resultMap="BaseResultMap">
        SELECT
            r.punch_record_id,
            r.punch_today_date,
            r.punch_datetime,
            r.punch_is_come,
            r.punch_type_id,
            r.punch_member_id
        FROM punch_record AS r
        LIMIT
            #{offset},
            #{limit}
    </select>

    <select id="queryCount" resultType="int">
        SELECT count(*)
        FROM punch_record;
    </select>

    <select id="queryByMemberIdAndDate" resultMap="BaseResultMap">
        SELECT *
        FROM punch_record p
        WHERE p.punch_member_id = #{memberId}
              AND p.punch_today_date = #{date}
    </select>

    <select id="queryByPunchDate" resultMap="BaseResultMap" parameterType="java.time.LocalDate">
        SELECT
            p.punch_record_id,
            p.punch_today_date
        FROM punch_record p
        WHERE p.punch_today_date = #{localDate}
    </select>

    <update id="update" parameterType="com.suny.association.pojo.po.PunchRecord">
        update punch_record
        <trim prefix="set" suffixOverrides=",">
            <if test=" punchDatetime != null">
                punch_datetime=#{punchDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test=" punchTodayDate != null">
                punch_today_date=#{punchTodayDate,jdbcType=DATE},
            </if>
            <if test=" punchIsCome != null">
                punch_is_come =#{punchIsCome,jdbcType=BOOLEAN},
            </if>
            <if test=" punchTypeId.punchTypeId != null">
                punch_type_id =#{punchTypeId.punchTypeId,jdbcType=INTEGER},
            </if>
            <if test=" punchMemberId.memberId != null">
                punch_member_id =#{punchMemberId.memberId,jdbcType=INTEGER},
            </if>
        </trim>
        where punch_record_id = #{punchRecordId,jdbcType=BIGINT}
    </update>

    <update id="updatePunch" parameterType="com.suny.association.pojo.po.PunchRecord">
        update punch_record
        <trim prefix="set" suffixOverrides=",">
            <if test=" punchDatetime != null">
                punch_datetime=#{punchDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test=" punchTodayDate != null">
                punch_today_date=#{punchTodayDate,jdbcType=DATE},
            </if>
            <if test=" punchIsCome != null">
                punch_is_come =#{punchIsCome,jdbcType=BOOLEAN},
            </if>
            <if test=" punchTypeId.punchTypeId != null">
                punch_type_id =#{punchTypeId.punchTypeId,jdbcType=INTEGER},
            </if>
        </trim>
        where punch_record_id = #{punchRecordId,jdbcType=BIGINT}
    </update>
</mapper>