<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suny.association.mapper.RolesMapper">
    <resultMap id="BaseResultMap" type="com.suny.association.pojo.po.Roles">
        <id column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="role_create_time" property="createTime"/>
    </resultMap>

    <resultMap id="AccountQuote" type="com.suny.association.pojo.po.Account">
        <id property="accountId" column="account_id"/>
        <result property="accountName" column="account_name"/>
    </resultMap>

    <select id="queryQuote" parameterType="Integer" resultMap="AccountQuote">
        SELECT
            account_id,
            account_name
        FROM account
        WHERE account_role_id = #{ roleId}
    </select>

    <insert id="insert" parameterType="com.suny.association.pojo.po.Roles">
        INSERT INTO roles
        (role_name)
        VALUES
            (#{roleName})
    </insert>

    <delete id="deleteById" parameterType="int">
        DELETE FROM roles
        WHERE role_id = #{roleId}
    </delete>


    <update id="update" parameterType="com.suny.association.pojo.po.Roles">
        UPDATE roles
        SET role_name = #{roleName}
        WHERE
            role_id = #{roleId}
    </update>


    <select id="queryAll" resultMap="BaseResultMap">
        SELECT
            role.role_id,
            role.role_name,
            role.role_create_time
        FROM roles AS role
    </select>

    <select id="queryById" parameterType="Integer" resultMap="BaseResultMap">
        SELECT
            role.role_id,
            role.role_name,
            role.role_create_time
        FROM roles AS role
        WHERE role_id = #{roleId}
    </select>

    <select id="queryByName" parameterType="String" resultMap="BaseResultMap">
        SELECT
            role.role_id,
            role.role_name,
            role.role_create_time
        FROM roles AS role
        WHERE role_name LIKE CONCAT(CONCAT('%', #{roleName}), '%')
    </select>


    <select id="list" parameterType="map" resultMap="BaseResultMap">
        SELECT
            role.role_id,
            role.role_name,
            role.role_create_time
        FROM roles AS role
        LIMIT
            #{offset},
            #{limit}
    </select>

    <select id="queryCount" resultType="int">
        SELECT count(*)
        FROM roles;
    </select>


</mapper>