<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <description>Shiro Configuration</description>

    <!-- Shiro's main business-tier object for web-enabled applications -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="myShiroRealm"/>
        <property name="cacheManager" ref="cacheManager"/>
    </bean>

    <!-- 項目自定义的Realm -->
    <bean id="myShiroRealm" class="com.suny.association.shiro.LoginRealm">
        <property name="cacheManager" ref="cacheManager"/>
    </bean>

    <!-- Shiro Filter -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <!-- loginUrl认证提交地址，如果没有认证将会请求此地址进行认证，请求此地址将由formAuthenticationFilter进行表单认证 -->
        <property name="loginUrl" value="/base/loginPage.html"/>
        <property name="successUrl" value="/base/goAdminPage.html"/>
        <!--授权失败的地址-->
        <property name="unauthorizedUrl" value="/base/errorPage.html"/>
        <property name="filterChainDefinitions">
            <!-- -/**=authc 表示所有的url都必须认证通过才可以访问- -->
            <!--/**=anon 表示所有的url都可以匿名访问-->
            <value>
                <!--请求这个地址就自动退出-->
                /base/logoutAction.do=logout

                /base/index = anon
                /base/loginPage.html = anon
                /base/loginAction.json = anon
                /code/checkCode.do =anon
                /code//generateCode.do =anon
                /LoginSuccess = anon
                /base/logoutAction.do = anon
                /** = authc
            </value>
        </property>
    </bean>

    <!-- 用户授权信息Cache -->
    <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager"/>

    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- AOP式方法级权限检查 -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor">
        <property name="proxyTargetClass" value="true"/>
    </bean>

    <!--开启使用基于注解的开发-->
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>

</beans>  