<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <!--注入权限控制过滤器-->
    <bean id="loginFilter" class="com.suny.association.filter.LoginFilter"/>
    <bean id="permissionFilter" class="com.suny.association.filter.PermissionFilter"/>

</beans>