<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

       <context:component-scan base-package="com.suny.association.controller"/>

       <mvc:default-servlet-handler/>

       <!-- springmvc传json值时的乱码解决 -->
       <mvc:annotation-driven>
              <mvc:message-converters>
                     <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                            <property name="supportedMediaTypes">
                                   <list>
                                          <value>application/json;charset=UTF-8</value>
                                   </list>
                            </property>
                     </bean>
              </mvc:message-converters>
       </mvc:annotation-driven>



       <bean id="InternalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
              <!--<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>-->
              <property name="prefix" value="/WEB-INF/jsp/"/>
              <property name="suffix" value=".jsp"/>
       </bean>

       <!-- 框架自定义异常处理Handler -->
       <bean id="exceptionResolver" class="com.suny.association.exceptionsolver.SimpleMappingExceptionSolver">
       </bean>


       <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
              <property name="messageConverters">
                     <list>
                            <ref bean="mappingJacksonHttpMessageConverter" />
                     </list>
              </property>
       </bean>
       <bean id="mappingJacksonHttpMessageConverter"
             class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
              <property name="supportedMediaTypes">
                     <list>
                            <value>text/html;charset=UTF-8</value>
                            <value>application/json;charset=utf-8</value>
                     </list>
              </property>
       </bean>





</beans>