<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suny.association.dao.mapper.MemberRolesMapper" >
  <resultMap id="BaseResultMap" type="com.suny.association.pojo.po.MemberRoles" >
    <constructor >
      <idArg column="member_role_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="member_role_name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    member_role_id, member_role_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.suny.association.pojo.po.MemberRolesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from member_roles
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from member_roles
    where member_role_id = #{memberRoleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from member_roles
    where member_role_id = #{memberRoleId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.suny.association.pojo.po.MemberRolesExample" >
    delete from member_roles
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.suny.association.pojo.po.MemberRoles" >
    insert into member_roles (member_role_id, member_role_name)
    values (#{memberRoleId,jdbcType=INTEGER}, #{memberRoleName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.suny.association.pojo.po.MemberRoles" >
    insert into member_roles
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memberRoleId != null" >
        member_role_id,
      </if>
      <if test="memberRoleName != null" >
        member_role_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memberRoleId != null" >
        #{memberRoleId,jdbcType=INTEGER},
      </if>
      <if test="memberRoleName != null" >
        #{memberRoleName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.suny.association.pojo.po.MemberRolesExample" resultType="java.lang.Integer" >
    select count(*) from member_roles
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update member_roles
    <set >
      <if test="record.memberRoleId != null" >
        member_role_id = #{record.memberRoleId,jdbcType=INTEGER},
      </if>
      <if test="record.memberRoleName != null" >
        member_role_name = #{record.memberRoleName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update member_roles
    set member_role_id = #{record.memberRoleId,jdbcType=INTEGER},
      member_role_name = #{record.memberRoleName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.suny.association.pojo.po.MemberRoles" >
    update member_roles
    <set >
      <if test="memberRoleName != null" >
        member_role_name = #{memberRoleName,jdbcType=VARCHAR},
      </if>
    </set>
    where member_role_id = #{memberRoleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suny.association.pojo.po.MemberRoles" >
    update member_roles
    set member_role_name = #{memberRoleName,jdbcType=VARCHAR}
    where member_role_id = #{memberRoleId,jdbcType=INTEGER}
  </update>
</mapper>