html, body {
	min-width: 832px;
	min-height: 720px;
	background: #efedea url(../images/background.jpg) 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/background.jpg', sizingMethod='scale');
	position: relative
}
/* logo */
#logo {
	position: absolute;
	top: 40px;
	right: 40px
}
/* 底部版权 */
#copyright {
	font-size: 14px;
	color: #2F2F2F;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 16px
}
/* 登录框 */
#loginBox {
	width: 460px;
	height: 316px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -158px;
	margin-left: -155px
}
#loginBox .topPart {
	height: 55px;
	/*  */
	position: relative
}
#loginBox .topPart h2 {
	float: left;
	height: 53px;
	line-height: 64px;
	font-size: 18px;
	color: #62D09B;
	padding-left: 55px;
	background: url(../images/students.png) left top no-repeat
}
#loginBox .topPart #goback {
	position: absolute;
	top: 17px;
	left: 250px;
	width: 51px;
	height: 25px;
	border-radius: 25px;
	font-size: 12px;
	color: #fff;
	line-height: 25px;
	text-align: right;
	padding-right: 7px;
	background: #62d09b url(../images/back.png) 7px 5px no-repeat;
}
#loginBox input {
	width: 309px;
	height: 43px;
	border: 1px solid #D3D3D3;
	border-radius: 2px;
	margin-bottom: 11px;
	background: url(../images/user.png) 4px 4px no-repeat;
	padding-left: 55px;
	*width: 254px;
	*height: 41px;
	line-height: 43px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline-style: none;
    font-size: 14px;
}
#loginBox input::-webkit-input-placeholder {
	font-size: 14px;
	color: #a3a3a3;
}
#loginBox input:-moz-placeholder {
	font-size: 14px;
	color: #a3a3a3;
}
#loginBox input::-moz-placeholder {
	font-size: 14px;
	color: #a3a3a3;
}
#loginBox input:-ms-input-placeholder {
	font-size: 14px;
	color: #a3a3a3;
}
#loginBox #passWord {
	background-image: url(../images/password.png);
}
#loginBox #code {
	background-image: url(../images/code.png);
}
#loginBox .codebox {
	width: 309px;
	height: 43px;
	*margin-bottom: 22px;
	*position: relative;
}
#loginBox .codebox #code {
	margin-bottom: 0;
	width: 197px;
	*width: 142px;
	*height: 41px;
	float: left;
}
#loginBox .codebox img {
	float: right;
	*position: absolute;
	*top: 0;
	*right: 0;
}
#loginBox #loginBtn {
	display: block;
	width: 309px;
	height: 50px;
	background-color: #62D09B;
	border-radius: 2px;
	margin-top: 22px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 50px;
}
#loginBox #forget {
	position: absolute;
	left: 240px;
	bottom: 0;
	font-size: 15px;
	color: #A3A3A3;
	line-height: 38px;
	text-align: right;
}
#loginBox #error1, #loginBox #error2, #loginBox #error3 {
	position: absolute;
	font-size: 14px;
	color: #FF2423;
	line-height: 41px;
	left: 320px;
}
#loginBox #error1 {
	top: 109px;
}
#loginBox #error2 {
	top: 162px;
}
#loginBox #error3{top:50px}
/* 家长/教职工入口 */
#loginBox .adult h2 {
	color: #F5C479;
	background-image: url(../images/adults.png);
}
#loginBox .adult #goback {
	background-color: #F5C479;
}
#loginBox #loginBtn.adult {
	background-color: #F5C479;
}
/* 校级管理入口 */
/* 扫二维码 */
#twobarCode{
	width: 210px;
	height: 320px;
	position: absolute;
	top: 50%;
	right: 58%;
	margin-top: -155px;
}
#twobarCode p.scan{
	font-size: 18px;
	color: #7D7D7D;
	text-align: center;
	line-height: 50px;
	margin-bottom: 24px;
}
#twobarCode .twobarimg{
	width: 160px;
	height: 160px;
	display: block;
	margin: 0 auto 50px;
}
#twobarCode #marked{
	width: 100%;
	height: 36px;
	background: url(../images/markedicon.png) 0 0 no-repeat;
}
#twobarCode #marked p{
	font-size: 14px;
	color: #A3A3A3;
	padding-left: 50px;
}
#twobarCode #marked p span{
	color: #FFB4C8;
}
/* 分割线 */
#splitLine{
	width: 1px;
	height: 300px;
	background-color: #C2C2C2;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -158px;
	margin-left: -0.5px;
}
/* 登录 */
#loginBox.schoolLogin{
	margin-left: 0;
	left: 58%;
}
#loginBox .school h2 {
	color: #FFB4C8;
	background-image: url(../images/schools.png);
}
#loginBox .school #goback {
	width: 25px;
	height: 25px;
	left: 282px;
	padding-right: 0;
	background-color: #FFB4C8;
	background-position: 4px 5px;
}
#loginBox #loginBtn.school {
	background-color: #FFB4C8;
}
/* 教育局入口 */
#loginBox .admin h2 {
	color: #C796E3;
	background-image: url(../images/admins.png);
}
#loginBox .admin #goback {
	background-color: #C796E3;
}
#loginBox #loginBtn.admin {
	background-color: #C796E3;
}
/* 学生首次登录设置 */
#loginBox.firstlogin {
	width: 580px;
	height: 334px;
	margin-top: -168px;
}
#loginBox.firstlogin #studentNum {
	background-image: url(../images/code.png);
}
#loginBox.firstlogin #studentName {
	background-image: url(../images/name.png);
}
#loginBox.firstlogin #loginBtn {
	margin-top: 15px;
}
#loginBox.firstlogin #error1{top:50px}
#loginBox.firstlogin #error2{top:108px}
#loginBox.firstlogin #error3{top:161px}
#loginBox.firstlogin #error4{top:216px}
/* 登录成功 */
#success{
	width: 180px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -90px;
}
#success p.succ{
	font-size: 18px;
	color: #7D7D7D;
	text-align: center;
	margin-bottom: 35px;
}
#success img{
	width: 95px;
	height: 134px;
	display: block;
	margin: 0 auto 45px;
}
#success p.confirm{
	font-size: 14px;
	color: #7D7D7D;
	text-align: center;
	margin-bottom: 20px;
}
#success a{
	font-size: 14px;
	display: block;
	text-align: center;
	color: #FF9DB7;
}

#loginBox #loginBtn.admin{background-color:#C796E3}

#loginBox #set_username{position:absolute; bottom:2px;font-size:14px;color:#62d09b;line-height:38px;text-align:right}
