<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

       <!--排除controller注解-->
       <context:component-scan base-package="com.suny.association">
           <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
       </context:component-scan>


       <context:property-placeholder location="classpath:db.properties"/>

       <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
              <property name="driverClass" value="${jdbc.driverClass}"/>
              <property name="jdbcUrl" value="${jdbc.jdbcUrl}"/>
              <property name="user" value="${jdbc.user}"/>
              <property name="password" value="${jdbc.password}"/>
              <property name="minPoolSize" value="${jdbc.minPoolSize}"/>
              <property name="maxPoolSize" value="${jdbc.maxPoolSize}"/>
              <property name="acquireIncrement" value="${jdbc.acquireIncrement}"/>
              <property name="initialPoolSize" value="${jdbc.initialPoolSize}"/>
       </bean>

       <bean id="SqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
              <property name="dataSource" ref="dataSource"/>
              <!--<property name="mapperLocations" value="classpath*:com/suny/association/memberMapper/*Mapper.xml"/>-->
       </bean>
       <bean  id="MapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
              <property name="basePackage" value="com.suny.association.mapper"/>
              <property name="SqlSessionFactoryBeanName" value="SqlSessionFactoryBean"/>
       </bean>



    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>


</beans>